html{
  background: white;
  height:100%;
}
body{
  background-color: black;  
  margin: 5px;
  padding : 10px;
  min-height : 100%;
}
header{
  color:white;
  text-align:center;
}
header:first-letter {
  color:lime;
}
#main{
  padding:10px;

}
canvas {
  color:white;
  margin: 0 auto ;
  display:block;
  background-color:white;
  padding:2px;
}
a{
  color:white;
}
a:hover{
  color:fuchsia;
}
p{
  color:gray;
  text-align:center;
}
