html{
  background: white;

}
body{
  background-color: black;  
  margin: 5px;
  padding : 10px;
}

header{
  color:white;
  text-align:center;
}
header:first-letter {
  color:lime;
}
#main{
padding:10px;
}
canvas {
  color:white;
  margin: 0 auto ;
  display:block;
  background-color:white;
  padding:5px;
}
